html,
body {
  font-family: Open Sans;
  background: #111;
  text-align: center;
}

div {
  border-radius: 8px;
  background: black;
  padding: 16px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

h3 {
  letter-spacing: 0.6px;
  margin: 0;
  padding: 0;
  color: yellow;
}

h4 {
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 11px;
}

h5 {
  margin: 0;
  padding: 0;
  color: orange;
}

p {
  color: grey;
}
