html,
body {
  font-family: Open Sans;
  background: #111;
  text-align: center;
}

div {
  border-radius: 8px;
  background: black;
  padding: 16px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

h3 {
  letter-spacing: 0.6px;
  margin: 0;
  padding: 0;
  color: yellow;
}

h4 {
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 11px;
}

h5 {
  margin: 0;
  padding: 0;
  color: orange;
}

p {
  color: grey;
}

$filters: ( saturate: ( units: '', range: ( min: 1, max: 10), probability: 1/5), hue-rotate: ( units: 'deg', probability: 1, range: ( min: 0, max: 360), ), invert: ( units: '', probability: 1/30, range: ( min: 1, max: 1), ), contrast: ( units: '', probability: 1/10, range: ( min: 1, max: 10), ), brightness: ( units: '%', probability: 1/20, range: ( min: 25, max: 75), ));
html {
  background-color: black;
  animation: spazz 7s steps(1) infinite;
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/marilyn.jpg) 50%/cover;
  background-blend-mode: multiply;
  animation: inherit;
  animation-duration: 17s;
}

@keyframes spazz {
  0% {
    filter: none;
  }
  100% {
    filter: saturate(1) hue-rotate(0deg) invert(1) contrast(1) brightness(25%);
  }
}